/* 1번 레이아웃 css */

/* 초기화 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, ol,li {
    list-style: none;
}

img {
    border: 0;
}


/* 레이아웃 시작 */
#wrap {
    width: 1200px;
    margin: 0 auto;
}

header {
    height: 250px;
    background-color: bisque;
    padding-top: 30px;
}

header .logo {
    width: 200px;
    height: 100px;
    background-color: orange;
    margin: 20px auto 20px;
}

header nav {
    width: 1000px;
    height: 50px;
    background-color: orange;
    margin: 20px auto 20px;
}

section {
    height: 700px;
    background-color: gainsboro;
    padding-top: 30px;
}

.box section {
    width: 90%;
    height: 40%;
    background-color: orange;
    margin: 0 auto;
    margin-top: 10px;
}

.box section:first-child {
    margin-top: 30px;
    margin-bottom: 30px;
}

section article {
    width: 30%;
    height: 90%;
    background-color: aquamarine;
    float: left;
    margin-left: 30px;
}

footer {
    height: 200px;
    background-color: bisque;
}