/* no.5 layout style */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

ul, ol, li {
    list-style: none;
}


/* layout */

main {
    width: 100%;
    height: 1000px;
    background-color: darkcyan;
    padding-top: 30px;
}

main header {
    width: 1200px;
    height: 250px;
    background-color: aliceblue;
    margin: 0 auto;
}

main header h1 {
    width: 200px;
    height: 150px;;
    background-color: chartreuse;
    float: left;
    margin-top: 50px;
    margin-left: 25px;
}

main header nav {
    width: 800px;
    height: 50px;
    background-color: chartreuse;
    float: right;
    margin-top: 150px;
    margin-right: 25px;
}

section {
    width: 1200px;
    height: 1000px;
    background-color: lightsalmon;
    margin: 20px auto;
    padding-top: 50px;
}

section>div {
    width: 1100px;
    height: 430px;
    background-color: antiquewhite;
    margin: 0 auto 30px;
}

section .pp {
    width: 250px;
    height: 380px;
    background-color: aqua;
    float: left;
    margin-top: 25px;
    margin-left: 20px;
}

section #con article {
    width: 31%;
    height: 380px;
    background-color: aqua;
    float: left;
    margin-top: 25px;
    margin-left: 2.3%;
}

section #banner {
    width: 62%;
    height: 380px;
    background-color: aqua;
    float: right;
    margin-top: 25px;
    margin-right: 2.3%;
}

footer {
    width: 100%;
    height: 200px;
    background-color: darkcyan;
}