/* INDEX HTML STYLE CSS */

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

ul,
li,
ol {
    list-style: none;
}

a {
    color: inherit;
    text-decoration-line: none;
}

body,
html {
    color: #333;
}

button {
    border-style: none;
}

/* LAYOUT */
.wrap {
    width: 1000px;
    height: 650px;
    float: left;
}

/* HEADER */
header {
    width: 200px;
    height: 100%;
    float: left;
}

header h1 {
    text-align: center;
    width: 200px;
    height: 100px;
    background-color: #fff;
    line-height: 35px;
    padding: 15px;
}

nav {
    padding: 15px;
    width: 200px;
}

nav .gnb {
    width: 100%;
    text-align: center;
    height: auto;
    line-height: 35px;
}

nav .gnb > li {
    border: 1px solid #495ed6;
}

nav .gnb > li > a {
    display: block;
    width: 100%;
    line-height: 35px;
    background-color: #495ed6;
    color: #fff;
    font-size: 17px;
}

nav .sub {
    line-height: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #fff;
}

nav .sub > li > a {
    display: block;
    width: 100%;
}

/* HEADER END */

/* RIGHT */
#right {
    width: 800px;
    height: 100%;
    float: left;
}

/* VISUAL */
.visual {
    width: 800px;
    height: 350px;
    float: left;
    overflow: hidden;
}

.slide ul {
    width: 2400px;
    height: 350px;
}

.slide ul li {
    float: left;
    width: 800px;
    height: 350px;
}

.slide img {
    width: 100%;
}

/* VISUAL END */

/* CONTENTS */
content {
    width: 800px;
    height: 200px;
    float: left;
}

content article {
    width: 200px;
    height: 200px;
    border: 1px solid #2525e5;
    float: left;
}

content article:first-child {
    width: 400px;
}

/* NOTICE / GALLERY */
.tab-menu {
    width: 140px;
    height: 25px;
    margin-top: 10px;
    margin-left: 20px;
}

.tab-menu li a {
    width: 70px;
    height: 25px;
    background-color: #495ed6;
    color: #fff;
    text-align: center;
    line-height: 25px;
    font-size: 14px;
    padding: 4px 6px;
}

.tab-menu li {
    float: left;
}

.tab-menu li a.on {
    background-color: #fff;
    color: #333;
    font-weight: bold;
}

.tab-p {
    width: 360px;
    margin-left: 20px;
    position: relative;
}

.tab-p li {
    width: 100%;
    height: 150px;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
}

.tab-p li:first-child {
    z-index: 9;
}

.tab-p #notice table {
    width: 350px;
    padding-left: 6px;
}

.tab-p #notice table th {
    text-align: center;
}

.tab-p #notice table td,
.tab-p #notice table th {
    line-height: 23px;
    font-size: 14px;
}

.tab-p #notice table td a {
    font-size: 14px;
}

.tab-p #notice table td a:hover {
    text-decoration-line: underline;
}

.tab-p #notice table td:last-child {
    font-size: 12px;
    width: 50px;
}

.tab-p #gallery h3 {
    font-size: 14px;
    margin-top: 10px;
    margin-left: 10px;
}

.tab-p #gallery .gall-group {
    margin-top: 10px;
    margin-left: 20px;
}

.tab-p #gallery .gall-group img {
    margin-right: 5px;
}

/* BANNER */

/* LINK */

/* CONTENTS END */


/* FOOTER */
footer {
    width: 800px;
    height: 100px;
    background-color: azure;
    float: left;
}

footer h3 {
    width: 150px;
    height: 50px;
    margin-top: 25px;
    text-align: center;
    line-height: 50px;
    float: left;
}

footer #f_right {
    width: 650px;
    height: 100px;
    border: 1px solid #2525e5;
    float: right;
}
