/* ========== reset ========== */
a, abbr, acronym, address, applet, article, aside, audio,
b, blockquote, big, body,
center, canvas, caption, cite, code, command,
datalist, dd, del, details, dfn, dl, div, dt, 
em, embed,
fieldset, figcaption, figure, footer, form, 
h1, h2, h3, h4, h5, h6, header, hgroup, html,
i, iframe, img, ins, input,
kbd, 
keygen,
label, legend, li, 
meter, mark,
nav, menu,
object, ol, output, option,
p, pre, progress,
q, 
s, samp, section, small, span, source, strike, sub, sup,
table, tbody, tfoot, thead, th, tr, td, video, tt,
u, ul, 
var{padding:0;margin:0;font-size:100%;font:inherit;border:0;box-sizing:border-box;}
body{line-height:1;}
ul, ol, li{list-style:none;}
table{border-collapse:collapse;border-spacing:0;}
caption, legend{position:relative; left:-10000px; top:auto; width:1px; height:1px; overflow:hidden;}
td, th{word-break:break-all;vertical-align:middle;}
mark, var{background:none;}
img, input, button, select, textarea{vertical-align:middle;}
img, fieldset, iframe{border:0;}

/* html5 - for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section{display:block;}

table caption
{position:relative; 
left:-10000px; 
top:auto; 
width:1px; 
height:1px; 
overflow:hidden;}

/* body */
body {
	font-family: /*'NanumGothic', '나눔고딕',*/ 'Malgun gothic', '맑은고딕', 'Dotum', '돋움', arial, sans-serif;
	color: #666;
}
/* scroll style */
html {
	overflow: auto;
}
/* anchor */
a:hover, a:focus, a:active, a:link, a:visited {
	color: #666;
	text-decoration: none;
}
button {
	cursor: pointer;
}

/* responsible */
.forPC {
	display: block !important;
}
.hidePC {
	display: none !important;
}
.hidden {
    visibility: hidden;
    position: absolute;
    top: -9999px;
    left: -9999px;
    font-size: 0;
    width: 0;
    height: 0;
    line-height: 0;
    background: none;
}
@media screen and (max-width:768px) {
    .forPC {
        display: none !important; 
    }
    .hidePC {
        display: block !important;
    }
} 
