/* 페이드인 아웃 CSS */

html { 
/*  root  */
    font-size: 10px;
}

* {
    
    margin: 0;
    padding: 0;
    box-sizing: 0;
    
}

ul, li {
    list-style: none;
}


#wrapper {
    text-align: center;
}

#slider {
    max-width: 50rem;
    margin: 0 auto;
}

h2 {
    font-size: 3rem; /*em은 div를 기준으로 다시 적용됨, 그래서 헷갈리지 않게 rem씀 (r:root, html)*/
        
}

#slider ul {
    position: relative;
}

#slider .item {
    position: absolute;
    top: 0;
    left: 0;
}

#slider .item img {
    max-width: 50rem;
    width: 100%;
}

