/* repeat.html style css - repeat.css */

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ol, ul, li {
    list-style: none;
}


/* layout */
.box {
    width: 1000px;
    height: 500px;
    border: 1px solid red;
}

.box article {
    width: 300px;
    height: 250px;
    overflow: hidden;
    float: left;
    margin-left: 24px;
/*    margin-top: 100px;*/
    position: relative;
}

.box article img {
    height: 100%;
    transition: 0.5s;
}

.box article:hover img {
    transform: scale(1.2);
}


.box article .text {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0px;
    left: 0px;
    color: rgba(225, 225, 225, 0.9);
    font-size: 30px;
    padding: 100px;
    opacity: 0;
    transition: 0.5s;
}

.box article:hover .text {
    opacity: 1;
}