/*      플라위 css       */

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-align: center;
    color: inherit;
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

/* style */
.wrap {
    width: 1200px;
    margin: 0 auto;
}


/* ----------------------------header style */
header {
    height: 160px;

}

header .h-top {
    height: 40px;
    background-color: #222;
}

.container {
    /* ----------------------------container style */
    width: 800px;
    margin: 0 auto;
}

header .h-top .ht-left {
    float: left;
}

header .h-top .ht-right {
    float: right;
}

header .h-top li {
    display: inline;
    margin-right: 20px;
    line-height: 40px;
}

header .ht-right li:nth-child(3) {
    margin-right: 0;
}

header .h-top a {
    color: #ddd;
    font-size: 12px;
}

header .h-bottom {
    width: 800px;
    height: 120px;
/*    border: 1px solid red;*/
    margin: 0 auto;
}

header .logo {
    width: 146px;
    height: 50px;
    margin: 0 auto;
    margin-top: 25px;
}

header nav {
    height: 20px;
/*    border: 1px solid red;*/
    margin-top: 15px;
}

header .gnb {
    float: left;
}

header .gnb li {
    float: left;
    padding: 0px 10px;
    margin-right: 45px;
}

header .gnb li:last-child {
    margin-right: 0;
}

header .gnb li a {
    font-size: 12px;
}

header .icon {
    float: right;
    margin-top: 3px;
}

header .icon li {
    float: left;
    margin-left: 30px;
}

/*  ---------------------------header style closed  */


.visual {
    height: 500px;
}

/*  ---------------------------section style  */
section {
    height: 420px;
}

section h2 {
    text-align: center;
    margin-top: 50px;
}

section p {
    width: 700px;
    margin: 0 auto;
    text-align: center;
    font-size: 14px;
    color: #888;
    margin-top: 10px;
}

section .box {
    margin-top: 55px;
}

section .box article {
    width: 250px;
    height: 160;
    float: left;
    margin: 8px;
    text-align: center;
}

section h3 {
    font-size: 16px;
    color: #669933;
    font-weight: 600;
}
/*  ---------------------------section style closed  */

/*  ---------------------------footer style  */
footer {
    height: 150px;
    background-color: #222;
}

footer span {
    color: #ddd;
    float: left;
    margin-top: 70px;
    margin-left: 60px;
    font-size: 12px;
}

footer .sns {
    float: right;
    margin-top: 60px;
    margin-right: 60px;
}

footer .sns li {
    float: left;
    margin-left: 10px;
}
/*  ---------------------------footer style closed  */