/* test.html style css - test.css */


/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-align: center;
    color: inherit;
    text-decoration: none;
}

ol,
ul,
li {
    list-style: none;
}


/* style */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

#topBtn {
    /* Top button */
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 999;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    /* Some padding */
    border-radius: 10px;
    font-size: 18px;
}

#topBtn:hover {
    background-color: #555;
}

.topMenu,
.box1,
.box2,
.box3,
.box4 {
    width: 100%;
    height: 100vh;
    border: 1px red solid;
    /*    position: relative;*/
}


/* top full screen */
.topMenu {
    display: table;
    table-layout: fixed;
    position: relative;

}

.topMenu .box {
    width: 33.33%;
    height: 100%;
    border: 1px orange solid;
    display: table-cell;
    /*    position: relative;*/
}

.topMenu .box:hover {
    width: 55.55%;
}
/* top full screen end */



/* GNB NAV */
#fixedNav {
    height: 75px;
    width: 100%;
    background-color: yellowgreen;
    position: relative;
}

/* GNB NAV end */



/* FOOTER */
footer {
    width: 100%;
    height: 250px;
    border: 1px blue solid;
}
