/* test.html style css - test.css */


/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: inherit;

}

ol,
ul,
li {
    list-style: none;
}


/* style */
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.topmenu,
.box1,
.box2,
.box3,
.box4 {
    width: 100%;
    height: 100vh;
    border: 1px red solid;
    /*    position: relative;*/
}

.topMenu {
    display: table;
    table-layout: fixed;
    position: relative;

}

.topMenu .box {
    width: 33.33%;
    height: 100%;
    border: 1px orange solid;
    display: table-cell;
/*    position: relative;*/
}

.topMenu .box:hover {
    width: 55.55%;
}



#mainMenu {
    height: 75px;
    width: 100%;
    background-color: yellowgreen;
    /*    position: fixed;*/
}

#myBtn {
  display: none; /* Hidden by default */
   /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

footer {
    width: 100%;
    height: 250px;
    border: 1px blue solid;
}

