/* 레이아웃 연습 */

body {
    margin: 0;
    background-color: yellow;

}

#wrap {
    width: 1200px;
    height: auto;
    border: solid 2px black;
    margin: 0 auto;
}

header {
    height: 200px;
    background: lime;
}

section {
    height: 700px;
    background-color: cyan;
}

footer {
    height: 150px;
    background-color: magenta;
}
